doctype html
//[if lt IE 7 ]>
  <html.ltr.fr.no-js.ie.ie6.lte9.lte8.lte7(xmlns='http://www.w3.org/1999/xhtml', xml:lang='fr', lang='fr', dir='ltr'> <![endif]
//[if IE 7 ]>
  <html.ltr.fr.no-js.ie.ie7.lte9.lte8.lte7(xmlns='http://www.w3.org/1999/xhtml', xml:lang='fr', lang='fr', dir='ltr'> <![endif]
//[if IE 8 ]>
  <html.ltr.fr.no-js.ie.ie8.lte9.lte8(xmlns='http://www.w3.org/1999/xhtml', xml:lang='fr', lang='fr', dir='ltr'> <![endif]
//[if IE 9 ]>
  <html.ltr.fr.no-js.ie.ie9.lte9(xmlns='http://www.w3.org/1999/xhtml', xml:lang='fr', lang='fr', dir='ltr'> <![endif]
//[if (gt IE 9)|!(IE)]><!
html.ltr.fr.no-js(xmlns='http://www.w3.org/1999/xhtml', xml:lang='fr', lang='fr', dir='ltr', itemscope='', itemtype='http://schema.org/')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(name='description', content='Carte des Français inscrits hors de France de 2001 à 2013')
    meta(name='viewport', content='width=device-width initial-scale=1')
    meta(name='author', content='cyp')
    meta(name='viewport', content='width=660')
    meta(name='robots', content='noindex,nofollow')
    meta(name='DC.subject' content='Carte des Français inscrits hors de France de 2001 à 2013')
    meta(http-equiv='Referrer-Policy' content='no-referrer, strict-origin-when-cross-origin')
    link(rel='shortcut icon', href='../favicon.ico', type='image/x-icon')
    link(rel='icon', type='image/png', href='/dist/favicon.png')
    title Carte des Français inscrits hors de France de 2001 à 2013
    link(rel='stylesheet', type='text/css', href='/dist/styles/styles.min.css')
    link(rel='stylesheet', type='text/css', href='/dist/styles/fonts.css')
    link(rel='stylesheet', type='text/css', href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(type='text/javascript', src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js')
  body(data-country='fr', data-language='fr')
    block content
    block scripts
      script(type='text/javascript', src='/dist/scripts/main.js')
